html, body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: black;
}
header{
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    margin: 0;
    padding: 1.3vw;
    width: 100%;
    box-shadow: 0vw 0vw 1.4vw rgba(255, 255, 255, 0.756);
}
#navbar{
    display: flex;
    gap: 2vw;
}
#navbar a{
    box-shadow: 0vw 0vw 0.8vw rgba(255, 255, 255, 0.575);
    padding: 0.5vw;
    border-radius: 0.9vw;
    padding-left: 3vw;
    padding-right: 3vw;
    font-size: 1.7vw;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.551);
    text-align: center;
    font-family: var(--primary-font);
}
main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 2vw;
}
main h2{
    color: rgba(255, 255, 255, 0.438);
    font-family: var(--primary-font);
    font-size: 2vw;
}
.description{
    font-size: 1.3vw;
    width: 32vw;
    margin-bottom: 1vw;
    color: rgba(255, 255, 255, 0.536);
}
.stage{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1vw;
}
.stage img{
    width: 40vw;
    height: auto;
    box-shadow: 0vw 0vw 3vw rgba(255, 255, 255, 0.397);
}
.stage p{
    color: rgba(255, 255, 255, 0.632);
    width: 32vw;
    line-height: 1.6vw;
    font-size: 1vw;
    font-family: var(--primary-font);
}
.imgBox{
    display: flex;
    gap: 1vw;
}
.imgBox img{
    width: auto;
    height: 10vw;
}
.imgBox2{
    display: flex;
    gap: 1vw;
}
.imgBox2 img{
    width: auto;
    height: 3vw;
}
:root{
    --primary-font: "Inria Serif", serif;
}